@font-face {
  font-family: 'UniversLTPro-55Roman';
  font-style: normal;
  font-weight: 400;
  src: local('UniversLTPro-55Roman'), local('UniversLTPro-55Roman'),
	   url('../../fonts/UniversLTPro-55Roman.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../../fonts/UniversLTPro-55Roman.woff') format('woff'), /* Modern Browsers */
	   url('../../fonts/UniversLTPro-55Roman.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../../fonts/UniversLTPro-55Roman.svg#UniversLTPro-UltCond') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'UniversLTPro-UltCond';
  font-style: normal;
  font-weight: 400;
  src: local('UniversLTPro-UltCond'), local('UniversLTPro-UltCond'),
	   url('../../fonts/UniversLTPro-UltCond.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../../fonts/UniversLTPro-UltCond.woff') format('woff'), /* Modern Browsers */
	   url('../../fonts/UniversLTPro-UltCond.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../../fonts/UniversLTPro-UltCond.svg#UniversLTPro-UltCond') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'UniversLTPro-BoldCond';
  font-style: normal;
  font-weight: 700;
  src: local('UniversLTPro-BoldCond'), local('UniversLTPro-BoldCond'),
	   url('../../fonts/UniversLTPro-BoldCond.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../../fonts/UniversLTPro-BoldCond.woff') format('woff'), /* Modern Browsers */
	   url('../../fonts/UniversLTPro-BoldCond.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../../fonts/UniversLTPro-BoldCond.svg#UniversLTPro-BoldCond') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'UniversLTPro-65Bold';
  font-style: normal;
  font-weight: 700;
  src: local('UniversLTPro-65Bold'), local('UniversLTPro-65Bold'),
	   url('../../fonts/UniversLTPro-65Bold.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../../fonts/UniversLTPro-65Bold.woff') format('woff'), /* Modern Browsers */
	   url('../../fonts/UniversLTPro-65Bold.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../../fonts/UniversLTPro-65Bold.svg#UniversLTPro-65Bold') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'UniversLTPro-75Black';
  font-style: normal;
  font-weight: 800;
  src: local('UniversLTPro-75Black'), local('UniversLTPro-75Black'),
	   url('../../fonts/UniversLTPro-75Black.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../../fonts/UniversLTPro-75Black.woff') format('woff'), /* Modern Browsers */
	   url('../../fonts/UniversLTPro-75Black.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../../fonts/UniversLTPro-75Black.svg#UniversLTPro-75Black') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'UniversLTPro-BlackExt';
  font-style: normal;
  font-weight: 900;
  src: local('UniversLTPro-BlackExt'), local('UniversLTPro-BlackExt'),
	   url('../../fonts/UniversLTPro-BlackExt.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../../fonts/UniversLTPro-BlackExt.woff') format('woff'), /* Modern Browsers */
	   url('../../fonts/UniversLTPro-BlackExt.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../../fonts/UniversLTPro-BlackExt.svg#UniversLTPro-BlackExt') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'UniversLTPro-XBlackExt';
  font-style: normal;
  font-weight: 900;
  src: local('UniversLTPro-XBlackExt'), local('UniversLTPro-XBlackExt'),
	   url('../../fonts/UniversLTPro-XBlackExt.woff2') format('woff2'), /* Super Modern Browsers */
	   url('../../fonts/UniversLTPro-XBlackExt.woff') format('woff'), /* Modern Browsers */
	   url('../../fonts/UniversLTPro-XBlackExt.ttf') format('truetype'), /* Safari, Android, iOS */
	   url('../../fonts/UniversLTPro-XBlackExt.svg#UniversLTPro-XBlackExt') format('svg'); /* Legacy iOS */
}

